html, body {
    margin: 0;
    background-color: rgb(153, 181, 215);

    display: flex;
    justify-content: center;

    overflow-y: hidden;
}

#head-bar{
    position:fixed;
    width: 100vw;
    height: 10vh;
    border: 2px solid rgb(117, 124, 143);
    padding-left: min(3vw, 25px);
    background-color: rgb(145, 162, 183);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}
#head-bar > h1 {
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head-bar > p{
    font-size: 2vh;
    position:absolute;
    bottom:-15%;
    font-weight: bold;
}

.screenType {
    border: 1px solid rgb(144, 153, 181);
    height: 80vh;
    top: 15vh;
    position: absolute;
    width: 95vw;
    border-radius: 10px;
    background-color: rgb(124, 145, 190);
    box-sizing: border-box;
}

#title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#title-page > * {
    position: relative;
    margin-top: 2vh;
}

#title-page > button {
    width: 30vw;
    height: 5vh;
    font-size: 1em;
    text-align: center;
    top:-4vh;
}

#inventory-page {
    background-color: white;
}

#inventory-scroller{
    display: inline-block;
    position:relative;
    background-color: rgb(200, 200, 200);
    width: 65%;
    height: 80%;
    left:clamp(5px,5vw,20px);
    top: clamp(5px,5vh,20px);

    border-radius: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    /* padding: clamp(5px, 5vw, 20px); */
}

.inventory-category {
    position: relative;
    left: clamp(5px, 5vw, 20px);

    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

#shop-page-main{
    background-color:white;
}
#shop-scroller{
    display: inline-block;
    position:relative;
    background-color: rgb(200, 200, 200);
    width: 65%;
    height: 80%;
    left:clamp(5px,5vw,20px);
    top: clamp(5px,5vh,20px);

    border-radius: 10px;

    overflow-x: hidden;
    overflow-y: scroll;

    /* padding: clamp(5px, 5vw, 20px); */
}
#shop-inspector{
    display: grid;
    justify-items: center;

    position: absolute;
    background-color: rgb(200,200,200);
    width: 25%;
    height: 80%;

    right: clamp(5px,5vw,20px);
    top: clamp(5px,5vh,20px);

    border-radius: 10px;

    overflow-x: hidden;

    font-size: 1vw;
}
#shop-inspector-icon{
    position: relative;
    
    top: 3vw;

    aspect-ratio: 1;
    width:clamp(5px,60%,150px);

    object-fit: contain;

    background-color:white;

    justify-self: center;
}
.shop-inspector-info{
    position: relative;
    color: rgb(69, 69, 69);
    font-family:'Courier New', Courier, monospace;
    left: clamp(0px, 5px, 10px);

    top: -2vw;

    height: 10vh;

    overflow: visible;
    white-space: normal;
}
#shop-product-name{
    top:2vw;
}
#shop-product-price{
    top:1vw;
    margin:0;
}
#shop-purchase{
    position: absolute;

    right: clamp(5px,5vw,20px);
    bottom: clamp(5px,5vh, 20px);

    height: 10%;
    width: 25%;

    background-color: lime;
    cursor: pointer;

    font-size: 3vh;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#shop-purchase.somethingwrong {
    background-color: red;
}

#shop-return-home{
    position: absolute;
    width: 25%;
    left: calc(40% + clamp(5px,5vw,20px));

    height: 10%;
    bottom: clamp(5px, 5vh, 20px);

    font-size: 3vh;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.shop-category {
    position: relative;
    left: clamp(5px, 5vw, 20px);

    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

.shop-item {
    width: clamp(32px, 15vw, 100px);
    height: clamp(32px, 15vw, 100px);

    object-fit: contain;

    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(124, 145, 190);
    margin: clamp(2px, 2vw, 10px);
}

.inventory-item {
    width: clamp(32px, 15vw, 100px);
    height: clamp(32px, 15vw, 100px);

    object-fit: contain;

    background-color: white;
    border-radius: 10px;
    border: 3px solid rgb(124, 145, 190);
    margin: clamp(2px, 2vw, 10px);
}

#title-page > img {
    height: 30vh;
}
#money-display {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(22, 123, 37);
    -webkit-text-stroke: 1px rgb(55, 201, 57);
    bottom: 5vh;
    left: 5vw;
}