html, body {
    margin: 0;
    background-color: rgb(153, 181, 215);

    display: flex;
    justify-content: center;

    overflow-y: hidden;
}

#head-bar{
    position:fixed;
    width: 100vw;
    height: 10vh;
    border: 2px solid rgb(117, 124, 143);
    padding-left: min(3vw, 25px);
    background-color: rgb(145, 162, 183);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}
#head-bar > h1 {
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#head-bar > p{
    font-size: 2vh;
    position:absolute;
    bottom:-15%;
    font-weight: bold;
}

.screenType {
    border: 1px solid rgb(144, 153, 181);
    height: 80vh;
    top: 15vh;
    position: absolute;
    width: 95vw;
    border-radius: 10px;
    background-color: rgb(124, 145, 190);
    box-sizing: border-box;
}

#title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#title-page > * {
    position: relative;
    margin-top: 2vh;
}

#title-page > button {
    width: 30vw;
    height: 5vh;
    font-size: 1em;
    text-align: center;
    top:-4vh;
}

#title-page > img {
    height: 30vh;
}